# Plate Mapper

## Instructions

1. run first cell and selected inputs `csv` and output directory
2. Enter something or nother and do the things
3. ...
4. save plate, meta, random csvs

In [1]:
import platemapper
import pandas as pd
import re # REEEEE

from ipyfilechooser import FileChooser

sfc = FileChooser()
sfc.title = 'Select source csv'
fc = platemapper.make_chooser('output directory')
display(sfc)
display(fc)

FileChooser(path='/hdd/project/plate_generator', filename='', title='HTML(value='Select source csv')', show_hi…

FileChooser(path='/hdd/project/plate_generator', filename='', title='HTML(value='output directory')', show_hid…

In [2]:
source = sfc.selected
out = fc.selected_path

In [3]:
sp = pd.read_csv(source, encoding='utf-8')
sp.head()

,CatalogNumber,ProductName,PlateLocation,384PlateName,M.w.,CASNumber,Target,DMSO(mg/mL)MaxSolubility,DMSO(mM)MaxSolubility,water(mg/mL)MaxSolubility,...,Pathway,Formula,Form,Synonyms,SMILES,ALogP,HBA_Count,HBD_Count,RotatableBond,MW REID
0,S1002,ABT-737,A3,L1700-384-01,813.43,852808-04-9,"Bcl-2,Autophagy",100,122.9362084,<1,...,Apoptosis,C42H45ClN6O5S2,free base,NaN,CN(C)CC[C@H](CSC1=CC=CC=C1)NC1=CC=C(C=C1[N+]([...,8.198,3.0,2.0,16.0,813.43000
1,S1003,Linifanib (ABT-869),C3,L1700-384-01,375.41,796967-16-3,"CSF-1R,PDGFR,VEGFR",75,199.7815721,<1,...,Protein Tyrosine Kinase,C21H18FN5O,free base,"AL39324,RG3635",CC1=CC(NC(=O)NC2=CC=C(C=C2)C2=C3C(N)=NNC3=CC=C...,4.169,2.0,4.0,3.0,375.41000
2,S1004,Veliparib (ABT-888),E3,L1700-384-01,244.29,912444-00-9,PARP,17,69.58942241,<1,...,DNA Damage,C13H16N4O,free base,NSC 737664,"C[C@@]1(CCCN1)C1=NC2=C(C=CC=C2N1)C(N)=O |r,c:1...",0.986,2.0,3.0,2.0,244.29000
3,S1005,Axitinib,G3,L1700-384-01,386.47,319460-85-0,"c-Kit,PDGFR,VEGFR",35,90.56330375,<1,...,Protein Tyrosine Kinase,C22H18N4OS,free base,AG 013736,CNC(=O)C1=CC=CC=C1SC1=CC2=C(C=C1)C(\C=C\C1=CC=...,4.492,3.0,2.0,5.0,386.47000
4,S1006,Saracatinib (AZD0530),I3,L1700-384-01,542.03,379231-04-6,Src,35,64.57207166,<1,...,Angiogenesis,C27H32ClN5O5,free base,NaN,CN1CCN(CCOC2=CC(OC3CCOCC3)=C3C(NC4=C(Cl)C=CC5=...,3.814,7.0,1.0,8.0,542.03000

In [36]:
from IPython.display import *
import ipywidgets as widgets
from ipywidgets import *

nameDrop = Dropdown(description='Compound',options=sp['ProductName'], value=None)
diluteDrop = Dropdown(description='Select Dilute amount',options=['log2', '1/2'], value=None)

In [37]:
def dropdown_handler(change):
    df = sp.loc[['ProductName'] == change.new]
    return df
# nameDrop.observe(dropdown_handler, names='value')
nameDrop

Dropdown(description='Compound', options=('ABT-737', 'Linifanib (ABT-869)', 'Veliparib (ABT-888)', 'Axitinib',…

In [38]:
df = sp.loc[sp['ProductName'] == nameDrop.value]

In [39]:
df

,CatalogNumber,ProductName,PlateLocation,384PlateName,M.w.,CASNumber,Target,DMSO(mg/mL)MaxSolubility,DMSO(mM)MaxSolubility,water(mg/mL)MaxSolubility,...,Pathway,Formula,Form,Synonyms,SMILES,ALogP,HBA_Count,HBD_Count,RotatableBond,MW REID
2,S1004,Veliparib (ABT-888),E3,L1700-384-01,244.29,912444-00-9,PARP,17,69.58942241,<1,...,DNA Damage,C13H16N4O,free base,NSC 737664,"C[C@@]1(CCCN1)C1=NC2=C(C=CC=C2N1)C(N)=O |r,c:1...",0.986,2.0,3.0,2.0,244.29000

In [40]:
nameDrop.value

'Veliparib (ABT-888)'

In [44]:
sId, sW, comp, = df['384PlateName'].values[0],df['PlateLocation'].values[0],df['ProductName'].values[0]

In [45]:
print(sId, sW, comp)

L1700-384-01 E3 Veliparib (ABT-888)

In [51]:
destplate = 'destplate' # destplate
max_back, dilute = 125.0, '1/2'
destWell = platemapper.get_wellIDs(2, 5, 0)
transVol, backVol =platemapper.cal_transVol(max_back, dilute, 5)
dt = platemapper.generate_df(sourceId=sId, sourceWell=sW, destID=destplate, compound=comp, steps=5, destWell=destWell,
                         transVol=transVol, backVol=backVol)

In [52]:
dt

,sourceID,sourceWell,destID,destWell,transferVol,backfillVol,compound
0,L1700-384-01,E3,destplate,A3,125.000,0.000,Veliparib (ABT-888)
1,L1700-384-01,E3,destplate,A4,62.500,62.500,Veliparib (ABT-888)
2,L1700-384-01,E3,destplate,A5,31.250,93.750,Veliparib (ABT-888)
3,L1700-384-01,E3,destplate,A6,15.625,109.375,Veliparib (ABT-888)
4,L1700-384-01,E3,destplate,A7,0.000,125.000,Veliparib (ABT-888)
5,L1700-384-01,E3,destplate,B3,125.000,0.000,Veliparib (ABT-888)
6,L1700-384-01,E3,destplate,B4,62.500,62.500,Veliparib (ABT-888)
7,L1700-384-01,E3,destplate,B5,31.250,93.750,Veliparib (ABT-888)
8,L1700-384-01,E3,destplate,B6,15.625,109.375,Veliparib (ABT-888)
9,L1700-384-01,E3,destplate,B7,0.000,125.000,Veliparib (ABT-888)
10,L1700-384-01,E3,destplate,C3,125.000,0.000,Veliparib (ABT-888)
11,L1700-384-01,E3,destplate,C4,62.500,62.500,Veliparib (ABT-888)
12,L1700-384-01,E3,destplate,C5,31.250,93.750,Veliparib (ABT-888)
13,L1700-384-01,E3,destplate,C6,15.625,109.375,Veliparib (ABT-888)
14,L1700-384-01,E3,destplate,C7,0.000,125.000,Veliparib (ABT-888)

In [68]:
destField = Text(value='Destination Plate', description='Destination')
fillField = Text(value='Max Volume per Well', description='Transfer Vol')
display(destField)
display(fillField)

Text(value='Destination Plate', description='Destination')

Text(value='Max Volume per Well', description='Transfer Vol')

In [64]:
print(type(destField.value))
print(type(int(float(fillField.value))))

<class 'str'>
<class 'int'>

In [65]:
test = int(float(fillField.value))

In [66]:
test

125

In [67]:
test/2

62.5